daily-inspirational-quotes.online {
	encode gzip

	@livekit {
		path /rtc* /livekit* /livekit-agents* /twirp/livekit.RoomService/* /twirp/livekit.SignalService/* /twirp/livekit.AgentService/*
	}
	reverse_proxy @livekit livekit:7880

	reverse_proxy frontend:3000
}
